<h2>Produtos</h2>

<div *ngFor="let product of products; index as productId">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }} - R${{product.price}}
    </a>
  </h3>

  <p *ngIf="product.description">
    Descrição: {{ product.description }}
  </p>

  <button [routerLink]="['/products', productId]">
    Selecionar
  </button>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

</div>